$blue-dark: #344668;
$green-dark: #4E5B4A;
$blue: #5d78a6;
$blue-hover: #607bab;
$blue-light: #d8e0ef;
$black: #3A3A3A;
$white: #FBFBFB;
$grey: #A4A4A4;
$grey-light: #D4D4D4;

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&family=Lato:wght@300;400;700&display=swap');

%button {
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 505px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;

}